@use '../util' as *;

#application-button {
  display: inline-block;
  
  position: relative;
  z-index: 1;

  padding: rem(1) rem(30);
  line-height: 3.7;

  color: var(--text2);
  text-decoration: none;
  font-weight: 600;

  transition: color .3s cubic-bezier(.2, 0, 0, 1);

  &::after {
      content: "";

      position: absolute;
      left: rem(20);
      right: rem(20);
      bottom: 0;

      height: 2px;

      background: var(--accent);

      transition: all .3s cubic-bezier(.2, 0, 0, 1);

      transform-origin: bottom center;
      z-index: -1;

      border-radius: rem(1000);
  }

  &:hover {
      color: var(--background);
      color: black;

      &::after {
          left: 0;
          right: 0;
          height: 100%;
      }
  }
}

#application-button-span {
    color: var(--text1);
    transition: color .3s;
}

#application-button:hover #application-button-span {
    color: var(--background);
}