@use '../util' as *;

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	gap: rem(23);

    @include breakpoint-down(small) {
        grid-template-columns: repeat(1, 1fr);
    }

    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(large) {
        grid-template-columns: repeat(3, 1fr);
    }

    :hover {
        background-color: var(--card-hover);
    }
}

.card {
    background-color: var(--card);
    border: 1px solid var(--border);
    
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

    &__webdev {
       border-top: 3px solid red;;
    }

    &__datascience {
       border-top: 3px solid red;;
    }

    &__database {
       border-top: 3px solid red;;
    }
}