@use '../util' as *;

.contact {
    display: flex;
    justify-content: center;

    .client-application {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}