@use '../util' as *;

.crt {
    position: relative;
}

.crt::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            transparent 50%,
            var(--crt-scanline) 50%
        ),
        linear-gradient(
            90deg,
            var(--crt-red),
            var(--crt-green),
            var(--crt-blue)
        );

    background-size:
        100% 2px,
        3px 100%;

    pointer-events: none;
}