@use '../util' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    @include breakpoint-down(small) {
        justify-content: space-between;
        align-items: center;
    }

    @include breakpoint(medium) {
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        width: 100%;

        @include breakpoint(medium) {
            width: auto;
        }
    }

    &__actions {
        width: 100%;
        border-width: 0;
        @include breakpoint(medium) {
            width: auto;
        }
    }
}