@use '../util' as *;

.hero-animation {
    text-align: center;

    h1 {
        line-height: 2.2;
        font-size: clamp(rem(30), 8vw, rem(90));
        font-weight: 700;
    }

    p {
        font-size: rem(30);
    }

    .pear-animation {
        color: #7CFF5B;
        animation: hackerBlink 2.5s infinite;
    }
}

@keyframes hackerBlink {
    0%,
    100% {
        opacity: 1;
        text-shadow: 0 0 8px currentColor;
    }

    50% {
        opacity: 1%;
        text-shadow: none;
    }
}