@use '../util' as *;

.theme-actions,
.menu-actions {
    display: grid;
    place-items: center;

    width: rem(42);
    height: rem(42);

    border: 0;
    border-radius: 999px;

    background: transparent;
    color: var(--text2);

    cursor: pointer;
}

.theme-actions:hover {
    background: var(--card-hover);
    border-color: var(--accent);
}

.theme-actions:active {
    transform: scale(.95);
}

.theme-actions svg {
    width: 24px;
    height: 24px;
}


.menu-actions{
    justify-content: center;
    align-items: center;
    height: rem(42);
    width: rem(42);

    place-items: center;

    border: 0px;
    border-radius: 999px;

    background: var(--panel);
    color: var(--text2);

    cursor: pointer;
}

.menu-actions:hover {
    background: var(--card-hover);
    border-color: var(--accent);
}

.menu-actions:active {
    transform: scale(.95);
}

.menu-actions svg {
    width: 24px;
    height: 24px;
}

.menu-actions p {
    margin: 0;
}