@use "globals";
@use "util";
@use "components";

// estilos generales
body {
    background: var(--background);
    color: var(--text2);
}

.title-secction-2 {
    display: flex;
    flex-wrap: wrap;
    
}
