@use "globals";
@use "util";
@use "components";

body {
    background: var(--background); //Si borro esto el toggle se aplica a las cards 
    font-family: var(--font-primary);
    color: var(--text2);
}

h1,
h2,
h3 {
    font-family: var(--font-title);
}

code,
pre,
.hero-animation {
    font-family: var(--font-mono);
}