:root {
    /* Dark Theme */
    --dark-background: hsl(230, 17%, 14%);
    --dark-surface: hsl(232, 19%, 15%);
    --dark-panel: hsl(228, 28%, 20%);
    --dark-card: hsl(228, 28%, 20%);
    --dark-card-hover: hsl(228, 25%, 27%);
    --dark-border: hsl(228, 28%, 20%);
    --dark-text1: hsl(228, 34%, 66%);
    --dark-text2: hsl(0, 0%, 100%);

    /* Light Theme */
    --light-background: hsl(0, 0%, 100%);
    --light-surface: hsl(225, 100%, 98%);
    --light-panel: hsl(227, 47%, 96%);
    --light-card: hsl(227, 47%, 96%);
    --light-card-hover: hsl(228, 33%, 91%);
    --light-border: hsl(228, 12%, 44%);
    --light-text1: hsl(228, 12%, 44%);
    --light-text2: hsl(230, 17%, 14%);

    --background: var(--light-background);
    --surface: var(--light-surface);
    --panel: var(--light-panel);
    --card: var(--light-card);
    --card-hover: var(--light-card-hover);
    --border: var(--light-border);
    --text1: var(--light-text1);
    --text2: var(--light-text2);
}